@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;
@use "~@fontsource/kumbh-sans/scss/mixins" as KumbHSans;

@include KumbHSans.fontFace($weight: 400);
@include KumbHSans.fontFace($weight: 700);

html, body {
    font-family: "Kumbh Sans", sans-serif;
}

html {
    font-size: var(--font-size-base);
}

body {
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-normal);
}

a[href] {
    color: inherit;
    text-decoration: underline;

    &:hover, &:active {
        opacity: 0.7;
    }
}

.sr-only {
    @include visually-hidden;
}
